@page "/ProductsBycategory/{CategoryId:int}"
@inherits ProductsByCategory 
@if (ProductList == null && ErrorMessage == null)
    {
                <DisplaySpinner/>
    }
    else if (ErrorMessage != null)
    {
        <DisplayError ErrorMessage="@ErrorMessage"/>
    }
    else
    {
        <h3>Products (@CategoryName)</h3>
        @if(ProductList.Count()>0)
                {
                <div class = "row mt-3">
                    <DisplayProducts Products="@ProductList"></DisplayProducts>
                </div>
                }
    }